div {
    width: 600px;
    margin: 10px auto;
    box-sizing: border-box;
}

.satu {
    background-color: royalblue;
    padding: 10px;
    border: 15px solid darkblue;
}

.dua {
    background-color: skyblue;
    padding: 30px;
    border: 10px dashed rgb(50, 62, 83);
}